body{
    margin: 0;
    padding: 0; 
    background-image: url("https://i.ytimg.com/vi/3XTZUooX9Us/maxresdefault.jpg"); 
    background-size: 100%; 
    background-repeat: no-repeat; 
    z-index: 2;
    background-attachment: fixed;
    
}

#main   {
    width: 100%;
    height: 100%;
               
}





#encabezado {
    top: 0%; 
    width: 100%; 
    overflow: auto;  
}

.logo   {
    
    top: 0%;    
    width: 33%;
    height: 15%;
    text-align: left;
    padding-top: 1%;
    float: left;
    padding-left: 1%;       
}

.menuprincipal  {
    top: 0%;    
    width: 33%;
    height: 15%;
    padding-top: 2%;
    text-align: center;
    float: left;
}


.menuredes  {
    top: 0%;    
    width: 33%;
    height: 15%;
    padding-top: 2%;
    text-align: right;
    float: left;    
}

.titulo {
    width:100%;
    text-align: center;
    font-size: 30px; 
    letter-spacing: 1px; 
    line-height: 15px; 
    font-family:'Josefin Sans', sans-serif;
    transition: 1s;
}

.titulo:hover  {
    font-size: 50px; 

}



#historia   {    
    display: inline-block;    
    border-radius: 10px;
    border: solid 3px black;
    margin-top: 6px;
    margin-left: 18%;
    margin-right: 18%;
    background-color: white;
    z-index: 4;    
}


#integrantes    {
    display: inline-block;      
    border-radius: 10px;
    border: solid 3px black;
    margin-top: 6px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    z-index: 4; 
    text-align: center; 
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    }


#discografia    {
    width: 100%;
    overflow: auto;    
    border-radius: 10px;
    border: solid 3px black;
    margin-top: 6px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: white;
    z-index: 4;    
}

.disco1 {
    width: 33%;
    float: left;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

.disco2 {
    width: 33%;
    float: left;
    text-align: center;
}

.disco3 {
    width: 33%;
    float: left;
    text-align: center;
}

#contacto   {
    border-radius: 10px;
    border: solid 3px black;
    margin-top: 6px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    z-index: 4; 
    text-align: center; 
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px; 
    z-index: 4;    
    }

form    {
    width: 100%%;        
    padding: 20px;    
    font-family:'Josefin Sans', sans-serif;
    margin-top: 2px;
    margin-left: 18%;
    margin-right: 18%;
}

label   {
    font-size: 12px;
    display: block;
    width: 100%;
}

input, textarea   {
    margin-bottom: 20px;
    width: 100%;
}

input :focus textarea:focus    {
    border: 1px;
    color: blanchedalmond;
}

#media  {
    width: 100%;
    text-align: center;
    margin-top:6px;
}


.menu {width: 100%; list-style: none; margin: 0px; padding: 0px} 
.menu li {font-family:'Josefin Sans', sans-serif; position: relative; float: left;}
.menu li a {text-decoration: none; color: black; font-size: 17px; padding: 2px 2px;}
.redes {width: 100%; list-style: none; margin: 0; padding: 0}
.redes li {display: inline-block; text-decoration: none; font-size: 25px; letter-spacing: 5px;}
.redes li a{color: black;}


h1   {color: black; 
    text-align: center; 
    font-size: 50px; 
    letter-spacing: 1px; 
    line-height: 15px; f
    font-family:'Josefin Sans', sans-serif;   
}

h2  {
    color: black; 
    text-align: center; 
    font-size: 30px; 
    letter-spacing: 1px; 
    line-height: 15px; 
    font-family: 'Raleway', sans-serif;
}

h3  {
    color: black); 
    text-align: center; 
    font-size: 17px; 
    letter-spacing: 1px; 
    line-height: 15px; 
    font-family: 'Raleway', sans-serif;
}

h5  {
    text-align: left;
    font-size; 12px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px; 
    line-height: 15px;
    margin-left: 2px; 
        
}

p    {color: black; 
    text-align: left; 
    font-size
    : 15px; 
    letter-spacing: 1px; 
    line-height: 14px;
    font-family: 'Raleway', sans-serif;
    padding-left: 10%;
    padding-right: 10%
}

ul   {list-style: circle;}

li   {color: black;
     text-align: left; 
     font-size: 15px; 
     letter-spacing: 1px; 
     line-height: 14px; 
     font-family: 'Raleway', sans-serif;
    }

#piedepagina    {
    margin-bottom: 0;
}

footer {
    background-color: black;
    color: white;
    margin-bottom: 0;
    padding-bottom: 0;
}  

